<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>dropup.net</title>    
    <link rel="stylesheet" href="/screen.css" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
  </head>

  <body>

    <header class="clearfix">

      <h1><a href="/">drop<span>up</span></a></h1>

      <a href="<%= imgSrc %>" id="original">View Original</a>

    </header>
    
    <div style="margin-left:10px;">    
      <img src="<%= imgSrc %>" />
    </div>

    <script src="/jquery-1.4.2.min.js"></script>

    <script type="text/javascript">
      
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-59760-17']);
      _gaq.push(['_trackPageview']);
      
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

  </body>
</html>
