<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>dropup.net</title>    
    <link rel="stylesheet" href="/screen.css" />
  </head>

  <body>

    <div style="margin:10px;overflow:auto;">

      <a href="<%= imgSrc %>" style="float:left">View Original</a>

      <div class="label">
        <label for="embed">embed:</label>
        <input type="text" id="embed" />
      </div>

    </div>
    
    <hr />

    <div style="margin-left:10px;">    
      <img src="<%= imgSrc %>" />
    </div>

    <script>
      document.getElementById("embed").setAttribute("value", 
        "<img src=\"" + document.location.protocol + "//" + document.location.host +
        "<%= imgSrc %>\" />"); 
    </script>

  </body>
</html>
