* { 
    margin:0px; 
    padding:0px; 
    border:0px; 
} 
/* html, body {  */
/*     height:100%;  */
/* } */
body {
    font:14px/1.7 Verdana,Tahoma,sans-serif;
    background:#111;
    /* background-image: -moz-radial-gradient(center 0deg, circle cover, #111 0%, #000 100%); */
    color:#eee; 
}

header { display:block; margin:10px; position:relative; }

#indexwrapper header { margin:10px 0px 0px 0px; }

p { margin:0px 0px 10px 0px; }
 
h1 { 
    font-family: ChunkFiveRegular;
    font-size:250%;
    line-height:120%;
    text-shadow: #000 1px 1px 2px; 
    float:left;
}

h1 span {
    color:#DDD; 
}

ul { 
    list-style-type:none; 
}
.item {
    padding:5px; 
    background:#111; 
    float:left;
    margin:5px 5px 5px 0px; 
    width:200px;
    height:155px;
    position:relative; 
}
.item img { 
    vertical-align:middle;
    max-height:100%; 
    max-width:100%; 
    opacity: 0.1; 
}

.desc { position:relative; }
.remove { position:absolute; right:0px; top:5px; font-size:80%; 
          color:#666; cursor:pointer; }
/* .item {  */
/*     text-align:center; */
/* } */

.wrapper { 
    text-align:center;  
    height: 130px;     
    overflow:hidden; 
 }
.loading { 
    background:#000; 
    width: 180px; 
    margin:0px 10px; 
    position:absolute; 
    bottom: 90px; 
    height:5px; 
}

#dropzone { background:#666; min-height:175px; padding-left:5px; }

.loaded img { opacity:1; }
.loaded .loading { display:none; }

a { text-decoration:none; color:orange; font-size:90%; }

.label { 
    float:left;
    margin: 0px 10px;
}
.label label { 
    display:block; 
    font-size:70%;
    color:#555; 
}
#embed { 
    background:#333;
    color:white;
    padding: 4px; 
    font-size:70%;
}

#embed { width: 300px; }
    
.progress { height:100%; background:#BBB; }

#original { position:absolute; bottom:5px; right:10px; } 

#indexwrapper { padding: 0px 10px; width:650px; margin:0px auto; }

#warnings { color:#666; font-size:80%; }

.error { position:absolute; top:0px; }

.inactive { text-align:center; }

.clearfix:after {clear: both;
content: '.';
display: block;
visibility: hidden;
height: 0;}

.clearfix {display: inline-block;}

* html .clearfix {height: 1%;}

.clearfix {display: block;}
